{% load static %}
<!DOCTYPE html>
<html lang="fa" dir="rtl">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href="{% static 'stylesheets/styles.css' %}">
        <title>ورود - بلاگ اخبار</title>
        <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
        <script>
            window.onload = function() {
                // Remove class to enable transitions
                document.querySelector("body").classList.remove("prevent-transition-trigger");
            };
        </script>
    </head>

    <body class="prevent-transition-trigger">
        <div class="form-page-form-container">
            <h1 class="form-page-header">ورود به حساب کاربری</h1>
            <div class="box-shadow-5 rounded-corner-8">
                <form method="post" action="{{ request.get_full_path }}">
                    {% csrf_token %}
                    {% if form.errors %}
                        <h4 style="color: red; margin-top: 0">
                            نام کاربری یا کلمه عبور اشتباه است.
                        </h4>
                    {% endif %}
                    {% for field in form %}
                        <label for="{{ field.id_for_label }}"><b>{{ field.label }}</b></label>
                        {{ field.as_widget }}
                    {% endfor %}

                    <button type="submit">ورود</button>
                </form>
                <div><a href="{% url 'signup' %}">ایجاد حساب کاربری</a></div>
                <div><a href="{% url 'index' %}">بازگشت به صفحه اصلی</a></div>
            </div>
        </div>
    </body>
</html>