{% extends 'News/main-layout.html' %}
{% block title %}آرشیو - {% endblock %}
{% block body %}
    <section class="news-list-section">
        <div class="flex-80-row-container">
            <div class="main-content">
                <div class="news-list">
                    {% for post in page %}
                        <div class="news-preview-container box-shadow-5 rounded-corner-8">
                            <a href="{% url 'full_news' post.id %}">
                                <img src="{{ post.image.url }}" alt="pic"/>
                            </a>
                            <div>
                                <a href="{% url 'full_news' post.id %}">
                                    <h3>{{ post.title }}</h3>
                                </a>
                                <p>{{ post.summary|safe }}</p>
                                <span dir="ltr">{{ post.publish_date }}</span>
                            </div>
                        </div>
                        {% empty %}
                        <h3>متاسفانه نتیجه‌ای مطابق با فیلترهای تنظیم شده یافت نشد.</h3>
                    {% endfor %}
                </div>
                {% if page.paginator.count > 0 %}
                    <div class="pagination">
                    {% if page.has_previous %}
                        <a href="{% url 'news_archive' %}?page={{ page.previous_page_number }}{{ filters }}"
                           title="قبلی">
                            &lt;
                        </a>
                    {% else %}
                        <a href="#" title="قبلی" class="disabled">&lt;</a>
                    {% endif %}

                    {% for i in page.paginator.page_range %}
                        {% if i == page.number %}
                            <a href="#" class="active">{{ i }}</a>
                        {% elif i >= page.number|add:-3 and i <= page.number|add:3 %}
                            <a href="{% url 'news_archive' %}?page={{ i }}{{ filters }}">{{ i }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if page.has_next %}
                        <a href="{% url 'news_archive' %}?page={{ page.next_page_number }}{{ filters }}" title="بعدی">
                            &gt;
                        </a>
                    {% else %}
                        <a href="#" title="بعدی" class="disabled">&gt;</a>
                    {% endif %}
                </div>
                {% endif %}
            </div>
            <div class="left-bar" style="margin-top: 20px">
                <div class="box-shadow-5 rounded-corner-8" style="padding: 5px 10px">
                    <form method="get" action="{% url 'news_archive' %}" style="padding-bottom: 10px">
                        <h3>فیلترها</h3>
                        {% for field in form %}
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field.as_widget }}
                        {% endfor %}
                        <button type="submit" class="search-form-field" style="margin-top: 15px">جستجو</button>
                    </form>
                </div>

                {% for ad in ads %}
                    <iframe title="{{ ad.provider }}" src="{{ ad.url }}"
                            class="ad-container rounded-corner-8 box-shadow-5">
                        Here should be some annoying ads!
                    </iframe>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}